// Note: Quickfeather uses the QFN package so the format is: set <signal name> <QFN pin #>

set_io w		5
set_io e		6
set_io r		2
set_io t		3
set_io y		64
set_io u		62
set_io p		60
set_io l		59
set_io k		57
set_io j		56
set_io h		55
set_io g		54
set_io f		53
set_io d		40
set_io s		42
set_io a		38
set_io z		36
set_io x		37
set_io c		39
set_io m		31
set_io q1		30
set_io w1		28
set_io e1		27
set_io r1		26
set_io t1		25
set_io y1		23
set_io u1		22
set_io i1		21
set_io o1		20
set_io p1		18
set_io a1		17
set_io s1		15
set_io d1		16
set_io f1		11
set_io g1		13
set_io h1		14
set_io j1		10
set_io k1		7
set_io l1		8
set_io l2		9
